#!/bin/bash
# This file is used to autogenerate the preinst script during the management_app_to_test_appcenter job.
# This is necessary for installing some files on the host system.

APP_ID="guardian-management-api"

set -e
eval "$(ucr shell)"

mkdir -p "/var/lib/univention-appcenter/apps/$APP_ID/conf/"

# guardian syntax file
guardian_syntax_path="/var/lib/univention-appcenter/apps/$APP_ID/conf/guardian_syntax.py"
echo "Installing Guardian syntax file"
	cat <<%EOF >"$guardian_syntax_path"
%GUARDIAN-SYNTAX%
%EOF
chmod 644 "$guardian_syntax_path"

# guardian schema file
guardian_schema_path="/var/lib/univention-appcenter/apps/$APP_ID/conf/guardian.schema"
echo "Installing Guardian schema file"
	cat <<%EOF >"$guardian_schema_path"
%GUARDIAN-SCHEMA%
%EOF
chmod 644 "$guardian_schema_path"
