{{ template "chart.header" . }}
{{ template "chart.deprecationWarning" . }}

{{ template "chart.description" . }}

- **Type**: {{ template "chart.type" . }}
- **AppVersion**: {{ template "chart.appVersion" . }}
- {{ template "chart.homepageLine" . }}

## Introduction

This chart deploys Cerbos as the Guardian policy engine.

{{ template "chart.maintainersSection" . }}

{{ template "chart.sourcesSection" . }}

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSectionHtml" . }}
