# Copyright (C) 2023 Univention GmbH
#
# SPDX-License-Identifier: AGPL-3.0-only


__pycache__/
_build/
.coverage
.env
dist/
*.db
management_service_dir/
.yarn
*.temp
appcenter-authz/preinst
appcenter-management/preinst
appcenter-management-ui/preinst
.mypy_cache/