# Copyright (C) 2023 Univention GmbH
#
# SPDX-License-Identifier: AGPL-3.0-only

.agents/skills/.gitignore
.claude/skills/.gitignore
.coverage
.env
.mypy_cache/
.yarn
*.db
*.temp
__pycache__/
_build/
appcenter-authz/files/preinst
appcenter-management/files/preinst
appcenter-management-ui/files/preinst
appcenter-authz/files/ini
appcenter-management/files/ini
appcenter-management-ui/files/ini
appcenter-authz/files/compose
appcenter-management/files/compose
appcenter-management-ui/files/compose
dist/
management_service_dir/

