# Copyright (C) 2023 Univention GmbH
#
# SPDX-License-Identifier: AGPL-3.0-only


__pycache__/
_build/
.coverage
.env
dist/
*.db
management_service_dir/
.yarn
*.temp
appcenter-authz/files/preinst
appcenter-management/files/preinst
appcenter-management-ui/files/preinst
appcenter-authz/files/ini
appcenter-management/files/ini
appcenter-management-ui/files/ini
appcenter-authz/files/compose
appcenter-management/files/compose
appcenter-management-ui/files/compose
.mypy_cache/
