# Copyright (C) 2023 Univention GmbH
#
# SPDX-License-Identifier: AGPL-3.0-only

[run]
# Those omits should be removed, once integration tests are added
omit=
    main.py
    routes.py
    */models/api.py
    udm_client.py

[report]
show_missing = True
skip_covered = True