version: '3.1'
services:
  authorization-api:
    image: {{ IMAGE_TAG_AUTHZ|default("gitregistry.knut.univention.de/univention/components/authorization-engine/guardian/guardian-authorization-api:latest") }}
    security_opt:
      - seccomp:/etc/docker/seccomp-systemd.json
    restart: unless-stopped
    volumes:
      - /etc/ssl/certs:/etc/ssl/certs:ro
    depends_on:
      - opa
    environment:
      HOME: /guardian_service_dir
      REQUESTS_CA_BUNDLE: /etc/ssl/certs/ca-certificates.crt
      GUARDIAN__AUTHZ__CORS__ALLOWED_ORIGINS: @%@guardian-authorization-api/cors/allowed-origins@%@
      GUARDIAN__AUTHZ__ADAPTER__SETTINGS_PORT: env
      GUARDIAN__AUTHZ__ADAPTER__PERSISTENCE_PORT: udm_data
      GUARDIAN__AUTHZ__ADAPTER__POLICY_PORT: opa
      GUARDIAN__AUTHZ__ADAPTER__AUTHENTICATION_PORT: fast_api_oauth
      IS_UNIVENTION_APPCENTER: 1
      UDM_DATA_ADAPTER__URL: @!@
ucr = configRegistry
udm_url = ucr.get(
    'guardian-authorization-api/udm_data/url',
    f"{ucr.get('hostname')}.{ucr.get('domainname')}/univention/udm",
)
if not udm_url.startswith('http'):
    udm_url = f'https://{udm_url}'
print(udm_url, end='')@!@
      UDM_DATA_ADAPTER__USERNAME_FILE: /guardian_service_dir/conf/machine.user
      UDM_DATA_ADAPTER__PASSWORD_FILE: /guardian_service_dir/conf/machine.secret
      OPA_ADAPTER__URL: http://opa:8181/
      GUARDIAN__AUTHZ__LOGGING__LEVEL: @%@guardian-authorization-api/logging/level@%@
      GUARDIAN__AUTHZ__LOGGING__STRUCTURED: "@%@guardian-authorization-api/logging/structured@%@"
      GUARDIAN__AUTHZ__LOGGING__FORMAT: @%@guardian-authorization-api/logging/format@%@
      OAUTH_ADAPTER__WELL_KNOWN_URL: @!@
ucr = configRegistry
base_url = ucr.get('guardian-authorization-api/oauth/keycloak-uri')
if not base_url:
    base_url = ucr.get('keycloak/server/sso/fqdn', f"https://ucs-sso-ng.{ucr.get('domainname')}")
if not base_url.startswith('http'):
    base_url = f'https://{base_url}'
print(f"{base_url}/realms/ucs/.well-known/openid-configuration", end='')@!@
  opa:
    image: {{ IMAGE_TAG_OPA|default("gitregistry.knut.univention.de/univention/components/authorization-engine/guardian/guardian-opa:latest") }}
    security_opt:
      - seccomp:/etc/docker/seccomp-systemd.json
    restart: unless-stopped
    volumes:
      - /etc/ssl/certs:/etc/ssl/certs:ro
    environment:
      IS_UNIVENTION_APPCENTER: 1
      OPA_DATA_BUNDLE: bundles/GuardianDataBundle.tar.gz
      OPA_POLICY_BUNDLE: bundles/GuardianPolicyBundle.tar.gz
      OPA_POLLING_MIN_DELAY: 10
      OPA_POLLING_MAX_DELAY: 15
      OPA_GUARDIAN_MANAGEMENT_URL: @!@
ucr = configRegistry
management_url = ucr.get(
    'guardian-authorization-api/bundle_server_url',
    f"https://{ucr.get('hostname')}.{ucr.get('domainname')}/guardian/management",
)
if not management_url.startswith('http'):
    management_url = f'https://{management_url}'
print(management_url, end='')@!@
