[Application]
ID = guardian-authorization-api
Code = 47
Version = {{ APP_VERSION }}
Name = Guardian Authorization API
Vendor = Univention GmbH
DockerScriptRestoreDataAfterSetup =
DockerScriptStoreData =
DockerScriptUpdateAvailable =
DockerScriptRestoreDataBeforeSetup =
DockerScriptUpdatePackages =
DockerScriptUpdateAppVersion =
DockerScriptUpdateRelease =
DockerScriptSetup =
DockerMainService = authorization-api
ServerRole = domaincontroller_master, domaincontroller_backup
WebInterface = /guardian/authorization
WebInterfaceName = Guardian Authorization API
WebInterfacePortHttp = 8000
WebInterfacePortHttps = 8000
WebInterfaceProxyScheme = http
DockerScriptConfigure = /tmp/guardian-authorization-api-configure
RequiredAppsInDomain = keycloak, guardian-management-api
RequiredUCSVersion = 5.0-7 errata1016
UCSOverviewCategory = False
AppCategories = Security
Logo = logo.svg
LogoDetailPage = logo_detail_page.svg
Description = Control instance to check the capabilities of a role.
LongDescription = <p>
		This app is part of the Nubus component &quot;Guardian&quot;. The Authorization API is used as a control instance to check the capabilities of a role.
	</p>
WebsiteVendor = https://www.univention.com/
License = free
Contact = sales@univention.de
SupportURL = https://www.univention.com/products/support/enterprise-support/
SupportType = univention
NotificationEmail = appcenter-reporting@univention.de

[de]
Description = Kontrollinstanz, um die Berechtigungen einer Rolle zu überprüfen.
LongDescription = <p>
		Diese App ist Teil der Nubus Komponente &quot;Guardian&quot;. Die Autorisierungs-API wird als Kontrollinstanz eingesetzt, um die Berechtigungen einer Rolle zu überprüfen.
	</p>
WebsiteVendor = https://www.univention.de/
SupportURL = https://www.univention.de/produkte/support/enterprise-support/
