Source: univention-guardian
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper-compat (= 13),
 univention-config-dev (>= 15.0.3),
 univention-join-dev,
Standards-Version: 4.3.0.3

Package: univention-cerbos-server
Architecture: all
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 docker-compose,
 univention-keycloak-client,
Description: Cerbos policy engine for UCS
 This package installs Cerbos as a policy engine on a UCS primary,
 fronted by an optional Keycloak-OIDC oauth2-proxy.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
