#!/bin/bash
# This file is used to autogenerate the preinst script during the management_app_to_test_appcenter job.
# This is necessary for installing some files on the host system.

APP_ID="guardian-management-api"
APP_DIR="/var/lib/univention-appcenter/apps/$APP_ID"

set -e
eval "$(ucr shell)"

CONF_DIR="$APP_DIR/conf"
SCRIPTS_DIR="$APP_DIR/scripts"
LOCALE_DIR="$APP_DIR/locale/DE/LC_MESSAGES"

mkdir -p $CONF_DIR
mkdir -p $SCRIPTS_DIR
mkdir -p $LOCALE_DIR

# guardian syntax file
guardian_syntax_path="$CONF_DIR/guardian_syntax.py"
echo "Installing Guardian syntax file"
	cat <<%EOF >"$guardian_syntax_path"
%GUARDIAN-SYNTAX%
%EOF
chmod 644 "$guardian_syntax_path"

# guardian schema file
guardian_schema_path="$CONF_DIR/guardian.schema"
echo "Installing Guardian schema file"
	cat <<%EOF >"$guardian_schema_path"
%GUARDIAN-SCHEMA%
%EOF
chmod 644 "$guardian_schema_path"

# guardian mo file
guardian_po_path="$LOCALE_DIR/de.po"
guardian_mo_path="$LOCALE_DIR/de.mo"
echo "Preparing Guardian mo file"
cat <<%EOF >"$guardian_po_path"
%GUARDIAN-PO%
%EOF

echo "Installing Guardian mo file"
msgfmt "$guardian_po_path" -o "$guardian_mo_path"

echo "Removing additional dependencies of Guardian mo file"
rm "$guardian_po_path"

# keycloak client configuration script
guardian_keycloak_script_path="$SCRIPTS_DIR/configure-keycloak"
echo "Installing Guardian Management API keycloak configuration script"
cat <<%EOF >"$guardian_keycloak_script_path"
%GUARDIAN-KEYCLOAK%
%EOF
chmod 755 "$guardian_keycloak_script_path"
